{% extends "base.html" %}
{% block title %}Ramo Colombia{% endblock %}

{% block content %}
{% from "_macro.html" import render_field %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lx-8">
            <br>
            <form name="sentMessage" id="contactForm" method="post" class="container">
                <div class="row">
                    <div class="col control-group" style="min-width: min-content; max-width: max-content;">
                        <div class="form-goup col-xs-12 floating-label-form-goup controls"
                            style="min-width: max-content; max-width: max-content;">
                            {{ render_field(form.producto, class="form-control") }}
                            <p class="help-bloc text-danger"></p>
                        </div>
                    </div>

                    <div class="col control-group" style="min-width: min-content; max-width: max-content;">
                        <div class="form-goup col-xs-12 floating-label-form-goup controls"
                            style="min-width:180px; max-width:180px">
                            {{ render_field(form.fecha_In, class="form-control") }}
                            <p class="help-bloc text-danger"></p>
                        </div>
                    </div>

                    <div class="col control-group" style="min-width: min-content; max-width: max-content;">
                        <div class="form-goup col-xs-12 floating-label-form-goup controls"
                            style="min-width:180px; max-width:180px">
                            {{ render_field(form.fecha_Out, class="form-control") }}
                            <p class="help-bloc text-danger"></p>
                        </div>
                    </div>

                    <div class="col control-group" style="min-width: min-content; max-width: max-content;">
                        <div class="form-goup col-xs-12 floating-label-form-goup controls"
                            style="min-width:140px; max-width:200px">
                            {{ render_field(form.cantidadTw, class="form-control") }}
                            <p class="help-bloc text-danger"></p>
                        </div>
                    </div>

                    <br>
                    <div class="col control-group" style="min-width: min-content; max-width: max-content;">
                        <br>
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-danger">Enviar</button>
                        </div>
                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>
{% if consulta %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lx-8">
            <br>
            <div class="row">
                <div class="col control-group" style="min-width: min-content; max-width: max-content;">
                    <div class="form-goup col-xs-12 floating-label-form-goup controls"
                        style="min-width: max-content; max-width: max-content;">
                        <img src="{{ url_for('static', filename='feelings1.png') }}" alt="">
                    </div>
                </div>

                <div class="col control-group" style="min-width: min-content; max-width: max-content;">
                    <div class="form-goup col-xs-12 floating-label-form-goup controls"
                        style="min-width: max-content; max-width: max-content;">
                        <img src="{{ url_for('static', filename='feelings2.png') }}" alt="">
                    </div>
                </div>

                <div class="col control-group" style="min-width: min-content; max-width: max-content;">
                    <div class="form-goup col-xs-12 floating-label-form-goup controls"
                        style="min-width: max-content; max-width: max-content;">
                        <img src="{{ url_for('static', filename='city.png') }}" alt="">
                    </div>
                </div>

                <div class="col control-group card" style="min-width: 300; max-width: 450;">
                    <div class="card-body">
                        <h5 class="card-title">Top 20 tweets</h5>
                        {%for tweet in tweets%}
                            <ul>{{tweet}}</ul>
                        {%endfor%}
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
